In [1]:
#creating tuples 
x= ("lion", "dog", "tiger")
print(x)

('lion', 'dog', 'tiger')

In [2]:
# Allow Duplicates:
x= ("lion", "tiger", "dog", "lion", "dog")
print(x)

#Tuple Length:
thistuple = tuple(("lion", "dog", "cherry"))
print(len(thistuple))

('lion', 'tiger', 'dog', 'lion', 'dog')
3

In [3]:
# Tuple can store different datatypes 
tuple1 = ("xyz", 69, True, 100, "male")
print(tuple1)

('xyz', 69, True, 100, 'male')

In [5]:
# note the double round-brackets
q = tuple(("lion", "tiger", "dog")) 
print(q)

#Print the second item in the tuple:
w = ("lion", "tiger", "dog")
print(w[1])

#Return the third, fourth, and fifth item:
e = ("lion", "tiger", "dog", "hyena", "cat", "hippo", "deer")
print(e[2:5])

#This example returns the items from the beginning to, but NOT included, "kiwi":
t= ("lion", "tiger", "dog", "hyena", "cat", "hippo", "deer")
print(t[:4])

#This example returns the items from index -4 (included) to index -1 (excluded)
le = ("lion", "tiger", "dog", "hyena", "cat", "hippo", "deer")
print(le[-4:-1])

('lion', 'tiger', 'dog')
tiger
('dog', 'hyena', 'cat')
('lion', 'tiger', 'dog', 'hyena')
('hyena', 'cat', 'hippo')

In [6]:
#Convert the tuple into a list , add "orange", and convert it back into a tuple:
thistuple = ("lion", "tiger", "dog")
y = list(thistuple)
y.append("lion")
thistuple = tuple(y)

print(thistuple)

('lion', 'tiger', 'dog', 'lion')

In [8]:
# Delete tuple:
thistuple = ("lion", "tiger", "dog")
del thistuple
print(thistuple)
#this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [9]:
# Using Asterisk*:
animal = ("lion", "tiger", "dog", "hyena", "cat")

(teeth, *strong, carnivore) = animal

print(teeth)
print(strong)
print(carnivore)

lion
['tiger', 'dog', 'hyena']
cat

In [10]:
# You can loop through the tuple items by using a for loop.
i = ("lion", "tiger", "dog")
for x in i:
  print(x)

lion
tiger
dog

In [13]:
# We can join two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

joined_tuple = tuple1 + tuple2

print("Joined tuple:", joined_tuple)  # Output: Joined tuple: (1, 2, 3, 4, 5, 6)

Joined tuple: (1, 2, 3, 4, 5, 6)

In [14]:
# We can multiply tuple
animal = ("lion", "tiger", "dog")
mytuple = animal * 2

print(mytuple)

('lion', 'tiger', 'dog', 'lion', 'tiger', 'dog')

In [15]:
#Slicing and indexing 

my_list = ['lion', 'dog', 'tiger', 'hippo']
print(my_list[:2]) # output: ['lion', 'dog']
print(my_list[2:]) # output: ['tiger', 'hippo']

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1:4] = [10, 20, 30]
print(numbers) # output: [1, 10, 20, 30, 5, 6, 7, 8, 9]

numbers[4:4] = [40, 50]
print(numbers) # output: [1, 10, 20, 30, 40, 50, 5, 6, 7, 8, 9]

['lion', 'dog']
['tiger', 'hippo']
[1, 10, 20, 30, 5, 6, 7, 8, 9]
[1, 10, 20, 30, 40, 50, 5, 6, 7, 8, 9]

In [16]:
# Built in functions
# len()
numbers_list = [10, 20, 30, 40, 50]
length = len(numbers_list)
print("Length of the list:", length)  # Output: Length of the list: 5

# sum()
numbers_list = [10, 20, 30, 40, 50]
total_sum = sum(numbers_list)
print("Sum of numbers:", total_sum)  # Output: Sum of numbers: 150

# max()
numbers_list = [10, 50, 20, 80, 30]
largest = max(numbers_list)
print("Largest number:", largest)  # Output: Largest number: 80

# min()
numbers_list = [10, 50, 20, 80, 30]
smallest = min(numbers_list)
print("Smallest number:", smallest)  # Output: Smallest number: 10

# sorted()
numbers_list = [10, 50, 20, 80, 30]
sorted_list = sorted(numbers_list)
print("Sorted list:", sorted_list)  # Output: Sorted list: [10, 20, 30, 50, 80]

Length of the list: 5
Sum of numbers: 150
Largest number: 80
Smallest number: 10
Sorted list: [10, 20, 30, 50, 80]